In [1]:
import os
import pandas
import torch

In [2]:
os.makedirs(os.path.join('.', 'data'), exist_ok=True)
data_file = os.path.join('.', 'data', 'homework_house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,area,Price\n')  # 列名
    f.write('NA,Pave,122,127500\n')  # 每行表示一个数据样本
    f.write('2,NA,23,106000\n')
    f.write('4,NA,34,178100\n')
    f.write('NA,NA,NA,140000\n')
    f.write('2,NA,NA,106000\n')
    f.write('4,NA,NA,178100\n')
    f.write('NA,NA,NA,140000\n')

In [3]:
data = pandas.read_csv(data_file)
data

   NumRooms Alley   area   Price
0       NaN  Pave  122.0  127500
1       2.0   NaN   23.0  106000
2       4.0   NaN   34.0  178100
3       NaN   NaN    NaN  140000
4       2.0   NaN    NaN  106000
5       4.0   NaN    NaN  178100
6       NaN   NaN    NaN  140000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NumRooms  4 non-null      float64
 1   Alley     1 non-null      object
 2   area      3 non-null      float64
 3   Price     7 non-null      int64
dtypes: float64(2), int64(1), object(1)
memory usage: 352.0+ bytes

In [5]:
temp = data.count()
temp = temp.sort_values()
index = temp.index[0]

In [6]:
data = data.drop(index, axis = 1)
data = torch.tensor(pandas.get_dummies(data, dummy_na = True).values)
data

tensor([[       nan, 1.2200e+02, 1.2750e+05],
        [2.0000e+00, 2.3000e+01, 1.0600e+05],
        [4.0000e+00, 3.4000e+01, 1.7810e+05],
        [       nan,        nan, 1.4000e+05],
        [2.0000e+00,        nan, 1.0600e+05],
        [4.0000e+00,        nan, 1.7810e+05],
        [       nan,        nan, 1.4000e+05]], dtype=torch.float64)